<div class="row">
  <h2>
    <%= drink.name %>

    <span class="btn-group">
      <% unless current_user.favorite_drinks.exists?(drink_id: drink.id) %>
        <%= button_to(favorite_drink_path(drink), method: :post,  class: 'btn btn-large btn-success') do %>
          <i class='glyphicon glyphicon-star'></i> Favorite
        <% end %>
      <% else %>
        <%= button_to(unfavorite_drink_path(drink), method: :delete, class: 'btn btn-large btn-danger') do %>
          <i class='glyphicon glyphicon-star-empty'></i> Unfavorite
        <% end %>
      <% end %>
    </span>
  </h2>
</div>

<div class="row">
  <p>
    <strong>Glass:</strong>
    <%= drink.glass %>
  </p>
</div>

<div class="row">
  <p>
    <strong>Directions:</strong>
    <%= drink.directions %>
  </p>
</div>

<div class="row">
  <p>
    <strong>Source:</strong>
    <%= drink.source %>
  </p>
</div>

<div class="row">
<h3>Ingredients</h3>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Use</th>
  </thead>
  <tbody>
    <% drink.drink_items.order("ingredient_use asc").each do |drink_item| %>
      <tr>
        <td><%= drink_item.ingredient.name %></td>
        <td><%= drink_item.amount %></td>
        <td><%= drink_item.ingredient_use %></td>
      </tr>
    <% end %>
  </tbody>
</table>
