<h2><%= drink.name %></h2>

<p>
  <strong>Glass:</strong>
  <%= drink.glass %>
</p>

<p>
  <strong>Directions:</strong>
  <%= drink.directions %>
</p>

<p>
  <strong>Source:</strong>
  <%= drink.source %>
</p>
</div>

<div class="row">
<h3>Ingredients</h3>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Use</th>
  </thead>
  <tbody>
    <% drink.drink_items.order("ingredient_use asc").each do |drink_item| %>
      <tr>
        <td><%= drink_item.ingredient.name %></td>
        <td><%= drink_item.amount %></td>
        <td><%= drink_item.ingredient_use %></td>
      </tr>
    <% end %>
  </tbody>
</table>
