<%= form_for @drink, :html => { :class => "form-horizontal drink" } do |f| %>

    <% if @drink.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @drink.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@drink[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :glass, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glass, :class => 'form-control' %>
    </div>
    <%= error_span(@drink[:glass]) %>
  </div>
  <div class="control-group">
    <%= f.label :directions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :directions, :class => 'form-control' %>
    </div>
    <%= error_span(@drink[:directions]) %>
  </div>
  <div class="control-group">
    <%= f.label :source, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source, :class => 'form-control' %>
    </div>
    <%= error_span(@drink[:source]) %>
  </div>


  <%= f.submit nil, :class => 'top-buffer btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            drinks_path, :class => 'top-buffer btn btn-default' %>

<% end %>
