<div class="container">

  <% if current_user.admin? %>
    <div class="row">
      <form action="/drinks/new" method="link">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus" ></span> Create Drink
        </button>
      </form>
    </div>
  <% end %>

  <div class="row">
    <h3>Drinks</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Name</th>
        <th>Glass</th>
        <th>Directions</th>
      </thead>
      <tbody>
        <% @drinks.each do |drink| %>
          <tr data-link="<%= drink_path(drink) %>">
            <td><%= drink.name %></td>
            <td><%= drink.glass %></td>
            <td><%= drink.directions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= paginate @drinks %></p>
  </div>
</div>
