<div class="container">
  <div class="row">
    <%= render @drink %>
  </div>
</div>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %> |
<% unless current_user.favorite_drinks.exists?(drink_id: @drink.id) %>
  <%= link_to 'Favorite', favorite_drink_path(@drink), method: :post %>
<% else %>
  <%= link_to 'Unfavorite', unfavorite_drink_path(@drink), method: :delete %>
<% end %>
