<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <form action="/bars/new" method="link">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" ></span> Create Bar
      </button>
    </form>
  </div>

  <div class="row">
    <h1>Listing Bars</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @bars.each do |bar| %>
          <tr>
            <td><%= bar.name %></td>
            <% if bar.current? %>
              <td><span class="label label-success">current</span></td>
            <% else %>
              <td><%= button_to "Make Current", {:controller => :bars, :action => 'make_current', :id => bar.id }, :method => :post%></td>
            <% end %>

            <td><%= link_to 'Show', bar %></td>
            <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
            <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
