<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-3">
        <h2><%= @ingredient.name %></h2>
      </div>
      <div class="col-md-1">
        <% if current_user %>
          <%= render 'add_or_in', ingredient: @ingredient %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <h4>Used in:</h2>
      <table class="table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <% @used_in.each do |drink| %>
            <tr data-link="<%= drink_path(drink) %>">
              <td><%= drink.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
