<%= form_for(@drink_item) do |f| %>
  <% if @drink_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink_item.errors.count, "error") %> prohibited this drink_item from being saved:</h2>

      <ul>
      <% @drink_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.text_field :ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :drink_id %><br>
    <%= f.text_field :drink_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
