<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Drinks', drinks_path %></li>
<li><%= link_to 'What I Can Make', makeable_drinks_path %></li>
<li><%= link_to 'Favorites', favorite_drinks_path %></li>
<li><%= link_to 'Ingredients', ingredients_path %></li>
<li><%= link_to 'Bars', bars_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
